{%- macro random_hex_str(len) -%}
    {%- for i in range(0,len) -%}
        {{ [0,1,2,3,4,5,6,7,8,9,"a","b","c","d","e","f"] | random }}
    {%- endfor -%}
{%- endmacro -%}

{%- macro random_uuid4() -%}
    {{
        [
            random_hex_str(8),
            random_hex_str(4),
            "4" + random_hex_str(3),
            "8" + random_hex_str(3),
            random_hex_str(12),

        ] | join("-")
    }}
{%- endmacro -%}

{%- macro escape_untrusted_text(text) -%}
    {{
        text
        | escape
        | replace("=", "&#61;")
        | replace("{", "&#123;")
        | replace("|", "&#124;")
        | replace("}", "&#125;")
        | replace("/", "&#47;")
        | replace("\\", "&#92;")
        | replace(" ", " ")
        | upper
    }}
{%- endmacro -%}

{%- macro escape_untrusted_file(file_path) -%}
    {%- set text -%}
        {%- include file_path -%}
    {%- endset -%}
    {{ escape_untrusted_text(text) }}
{%- endmacro -%}
