[submodule "safety-tooling"]
	path = safety-tooling
	url = https://github.com/safety-research/safety-tooling.git
[submodule "dictionary_learning"]
	path = dictionary_learning
	url = https://github.com/saprmarks/dictionary_learning
[submodule "submodules/CircuitsVis"]
	path = submodules/CircuitsVis
	url = https://github.com/kitft/CircuitsVis.git
[submodule "consistency-lens/tuned-lens"]
	path = consistency-lens/tuned-lens
	url = https://github.com/AlignmentResearch/tuned-lens
